.movie{
 width: 200px;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    color: white;

}

.movies_img{
    max-width: 100%;
}


.move-desc-popup{
position: absolute;

    color: whitesmoke;
    left:0;
    right: 0;
    bottom:0;
    background-color: #141414;
    transform: translateY(105%);
    transition: transform 0.3s ease-in-out;

}

.movie-desc{
    pointer-events: none;
}

.movie:hover .move-desc-popup {
    transform: translateY(0%);
}



.movie_modal img {
    border:solid whitesmoke 1px;
    max-width: 51%
}
