.movie{
    width: 200px;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    color: white;
    cursor: pointer;
}

.movies_img{
    max-width: 100%;
}


.move-desc-popup{
    position: absolute;
    color: whitesmoke;
    left:0;
    right: 0;
    bottom:0;
    background-color: #3b3a3a;
    transform: translateY(105%);
    transition: transform 0.3s ease-in-out;
    overflow: scroll;
}

.movie-desc{
    pointer-events: none;
}

.movie:hover .move-desc-popup {
    transform: translateY(0%);
}



.movie_modal  {
    display: flex;
    width: 700px;
    color: whitesmoke;
    justify-content: center;
    flex-direction: row;
    margin: 40px;
    padding: 40px;
    border-bottom-style: outset;
}
