.App {
  text-align: center;
  background-color: #141414;
}


.App-header{
  background-color: #0d253f;
  padding:26px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .App-header{
    flex-direction: column;
    justify-content: center;
  }

}


.App-logo {
  height: 30px;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.search {
  padding: 15px;
  border-radius: 20px;
}

.search:focus{
  outline: 0;
}

.homepage{
  left: -193px;
  top: 24px;
  transition: none 0s ease 0s;
  cursor: pointer;
  color: whitesmoke;
}

.MuiButton-label{
color: whitesmoke;
  font-weight: bolder;
}




